.spacer-1 {
  background-image: url('../../images/code-screen2.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 300px;
}
