.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  background-color: #FEF9E7;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  h2 {
    font-size: 40px;
    margin: 0;
    text-transform: uppercase;
  }
  p {
    font-size: 16px;
    color: #777;
    font-style: italic;
  }
}
.projects-container {
  padding-top: 25px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
}

.projects-individual {
  display: flex;
  flex-flow: column;
  margin: 10px 0;
  padding: 0;
  height: 350px;
}
.project-display {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 250px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  transition: all cubic-bezier(0.73, 0, 0.25, 1) 0.5s;
}
.project-display:hover {
  background: fade-out(gold, .9);
  background-image: url('../../images/icons/forward-arrow.png');
}
.project-title .bold {
  font-weight: bold;
  background-color: #FEF9E7;
  margin: 0;
  text-align: center;
}
.project-title .highlights {
  background-color: #FEF9E7;
  text-align: center;
}
.troop51 {
  background-image: url('../../images/portfolio/Troop51.png');
}
.topsecret {
    background-image: url('../../images/portfolio/TopSecret.png');
}
