.spacer-2 {
  background-image: url('../../images/Mount_Timpanogos.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 400px;
}
