.Footer-container {
  width: 100%;
  background-color: white;
  margin: 25px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  p {
    width: 50%;
    min-width: 300px;
    padding: 0 5%;
    margin: 0;
    text-align: center;
  }
}
